[Desktop Entry]
Name=Virtua Fighter (Wanszai on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_box_home }}/bin/model1-launch vf
Terminal=false
Type=Application
Icon=wine
Comment=Sega Model 1 Virtua Fighter — Wanszai HD wrapper via Wine in {{ dg_box_name }}
Categories=Game;
StartupWMClass=vf.exe;
