[Desktop Entry]
Name=Virtua Racing (Wanszai on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_box_home }}/bin/model1-launch vr
Terminal=false
Type=Application
Icon=wine
Comment=Sega Model 1 Virtua Racing — Wanszai HD wrapper via Wine in {{ dg_box_name }}
Categories=Game;
StartupWMClass=vr.exe;
