[Desktop Entry]
Name=Sega Rally Championship HD (Wanszai on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_box_home }}/bin/sega-rally-launch
Terminal=false
Type=Application
Icon=wine
Comment=Sega Rally Championship — Wanszai HD Model 2 wrapper via Wine in {{ dg_box_name }}
Categories=Game;
StartupWMClass=segarally.exe;
