{
  "General": {
    "neo_mode": false
  },
  "GPU": {
    "full_screen": true,
    "full_screen_mode": "Windowed",
    "window_width": 3840,
    "window_height": 2160,
    "internal_screen_width": 3840,
    "internal_screen_height": 2160,
    "patch_shaders": true,
    "readback_linear_images_enabled": false,
    "readbacks_mode": 0,
    "copy_gpu_buffers": false,
    "direct_memory_access_enabled": false,
    "vblank_frequency": 60
  },
  "Vulkan": {
    "gpu_id": {{ dg_shadps4_gpu_id }},
    "vkvalidation_core_enabled": false,
    "vkvalidation_enabled": false,
    "vkvalidation_gpu_enabled": false,
    "vkvalidation_sync_enabled": false
  }
}
