[Desktop Entry]
Name={{ launcher.display_name }}
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ launcher.gpu_env | default(dg_gpu_env) }} {{ launcher.exec }}
Terminal=false
Type=Application
Icon={{ launcher.icon }}
Comment={{ launcher.comment }}
Categories=Game;Emulator;
StartupWMClass={{ launcher.wm_class }};
