[Desktop Entry]
Name=Metroid Prime Hunters Recomp (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_mph_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Native DS recompilation of Metroid Prime Hunters (ndsrecomp)
Categories=Game;
StartupWMClass=MetroidPrimeHuntersRecomp;
