[Desktop Entry]
Name=Zelda: Majora's Mask - 2Ship2Harkinian (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_two_ship2harkinian_bin }}
Path={{ dg_two_ship2harkinian_install_dir }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Zelda: Majora's Mask PC port
Categories=Game;
