[Desktop Entry]
Name=CannonBall - OutRun (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_cannonball_launcher }}
Terminal=false
Type=Application
Icon=wine
Comment=Enhanced OutRun arcade engine (CannonBall)
Categories=Game;
StartupWMClass=cannonball;
