[Desktop Entry]
Name=Zelda: Ocarina of Time - Ship of Harkinian (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_ship_of_harkinian_bin }}
Path={{ dg_ship_of_harkinian_install_dir }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Zelda: Ocarina of Time PC port
Categories=Game;
