[Desktop Entry]
Name=Super Mario 64 Render96ex (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_render96ex_bin }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Super Mario 64 Render96ex PC port
Categories=Game;
