[Desktop Entry]
Name=Xenia Manager (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_box_home }}/bin/xenia-manager
Terminal=false
Type=Application
Icon=wine
Comment=Xbox 360 manager and launcher
Categories=Game;Emulator;
StartupWMClass=XeniaManager.exe;
