[Desktop Entry]
Name=G-Diffuser - F-Zero X (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_gdiffuser_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Native F-Zero X PC port with 64DD Expansion Kit (G-Diffuser)
Categories=Game;
StartupWMClass=G-Diffuser;
