[Desktop Entry]
Name=Starship - Star Fox 64 (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_starship_bin }}
Path={{ dg_starship_install_dir }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Star Fox 64 PC port
Categories=Game;
