[Desktop Entry]
Name=Doom II: Ray Traced (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_prboom_rt_launcher }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Vulkan path-traced Doom II via PrBoom-Plus-RT
Categories=Game;
StartupWMClass=prboom-plus-rt;
