[Desktop Entry]
Name=WipEout Phantom Edition (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_wipeout_pe_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Enhanced PC source port of WipEout (PSX)
Categories=Game;
StartupWMClass=wipeout.exe;
