[Desktop Entry]
Name=shadPS4 Manager (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_shadps4_qtlauncher_bin }}
Terminal=false
Type=Application
Icon=shadps4
Comment=PlayStation 4 emulator GUI (Qt Launcher)
Categories=Game;Emulator;
StartupWMClass=shadPS4QtLauncher;
