[Desktop Entry]
Name=Sonic P-06 (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_sonic_p06_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Sonic Project '06 fan remake
Categories=Game;
StartupWMClass=Sonic the Hedgehog.exe;
