[Desktop Entry]
Name=Donkey Kong Land Remake (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_dklr_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Donkey Kong Land Remake — kasquez's free SNES-style DKC fangame (Unity/Wine)
Categories=Game;
StartupWMClass=DKLR.exe;
