[Desktop Entry]
Name=Unleashed Recompiled (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_unleashed_recomp_bin }}
Terminal=false
Type=Application
Icon=io.github.hedge_dev.unleashedrecomp
Comment=Native Sonic Unleashed PC port
Categories=Game;
StartupWMClass=io.github.hedge_dev.unleashedrecomp;
