[Desktop Entry]
Name=Super Mario Bros. Remastered (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_smb_remastered_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Godot remake of Super Mario Bros. (JHDev2006)
Categories=Game;
StartupWMClass=SMB1R.x86_64;
