[Desktop Entry]
Name=SpaghettiKart - Mario Kart 64 (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_spaghettikart_bin }}
Path={{ dg_spaghettikart_install_dir }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Mario Kart 64 PC port
Categories=Game;
