[Desktop Entry]
Name=Final Fantasy VII - 7th Heaven (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_7th_heaven_bin }} launch-game
Terminal=false
Type=Application
Icon=steam_icon_3837340
Comment=Launch Final Fantasy VII classic through 7th Heaven
Categories=Game;
