[Desktop Entry]
Name=Dusk - Twilight Princess (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_dusk_wrapper_bin }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Open-source Twilight Princess reimplementation (Vulkan, native Linux)
Categories=Game;
StartupWMClass=Dusk;
