[Desktop Entry]
Name=7th Heaven Mod Manager (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_7th_heaven_bin }} launch
Terminal=false
Type=Application
Icon=steam_icon_3837340
Comment=Open the 7th Heaven mod manager for Final Fantasy VII classic
Categories=Game;
