[
    {
        "codename": "{{ _shadps4_codename }}",
        "date": "{{ _shadps4_date }}",
        "name": "{{ _shadps4_display_name }}",
        "path": "{{ dg_shadps4_managed_bin }}",
        "type": {{ _shadps4_type }}
    }
]
