[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
retry_files_enabled = false
gathering = smart
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/ansible-remote

[privilege_escalation]
become = false
become_method = sudo

[connection]
pipelining = true
